_ARCHIVE
*.log
debug.log
.DS_Store
Thumbs.db
desktop.ini
*.ttf
*.otf
IDEAS.txt
Settings.inc
*.private.inc
trainercard_USDate_w_Settings-Private - Copy.ini
trainercard USDate w Settings.ini
PrivatePaths.inc
@Resources/PrivatePaths.inc